{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block title %} Проекты {% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-row">
            <div class="block">
                {% include 'users_app/account_sidebar.html' %}
            </div>
            <div class="block">

                <div class="container">
                    <h2>Реестр решений</h2>
                    <div id="toolbar" class="select">
                        <select class="form-control">
                            <option value="">Export Basic</option>
                            <option value="all">Export All</option>
                            <option value="selected">Export Selected</option>
                        </select>
                    </div>

                    <table id="table"
                           data-show-export="true"
                           data-pagination="true"
                           data-page-list="[1, 25, 50, 100, 200, All]"
                           data-click-to-select="true"
                           data-toolbar="#toolbar"
                           data-show-columns="true"
                           data-silent-sort="false"
                           data-search="true"
                           data-advanced-search="true"
                           data-filter-control="true"
                           data-url="{% url 'get_decision_data_table' %}">
                        <thead>
                        <tr>
                            <th>none</th>
                            <th>state</th>
                            <th data-filter-control="input">agenda</th>
                            <th data-filter-control="select">type</th>
                            <th data-filter-control="input">rid</th>
                            <th data-filter-control="select">status</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            
            </div>
        </div>
    </div>
    <link href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.0/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>

    <style>
        #toolbar {
            margin: 0;
        }
    </style>



    <script>
        var $table = $('#table')
        $(function () {
            $('#toolbar').find('select').change(function () {
                $table.bootstrapTable('destroy').bootstrapTable({
                    exportDataType: $(this).val(),
                    exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
                    columns: [
                        {
                            field: 'state',
                            checkbox: true,
                            visible: $(this).val() === 'selected'
                        },
                        {
                            field: 'state',
                            checkbox: true,
                        }, {
                            field: 'agenda',
                            title: 'Сведения по повестве'
                        }, {
                            field: 'type',
                            title: 'Тип'
                        }, {
                            field: 'rid',
                            title: 'РИД',
                        }, {
                            field: 'status',
                            title: 'Статус',
                            sortable: true,
                        },
                    ]
                })
            }).trigger('change')
        })
        $(function () {
            $('#silentSort').change(function () {
                $('#table').bootstrapTable('refreshOptions', {
                    silentSort: $('#silentSort').prop('checked')
                })
            })
        })
    </script>
{% endblock %}