{% extends 'base.html' %}
{% block title %} {{page_name}} {% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-row">
            <div class="block">
                {% include 'users_app/account_sidebar.html' %}
            </div>
            <div class="block">

                <div class="container">
                    <h2>{{page_name}}</h2>
                    <form method='post'>{% csrf_token %}
                        {{ form.as_p }}
                        <button class='btn btn-primary'>Сохранить</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}