{% extends 'base.html' %}
{% block title %} {{page_name}} {% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-row">
            <div class="block">
                {% include 'users_app/account_sidebar.html' %}
            </div>
            <div class="block">

                <div class="container">
                <h2>{{page_name}}</h2>
                <p> 
                    <label>РИД</label>
                    <div class='row'>
                        <div class='col-11'>
                            <input type='text' class='form-control'  value='{{obj.rid.name}}' disabled>
                        </div>
                        <div class='col-1 text-center align-self-center'>
                            <a href='{% url "ria_info_view" obj.rid.pk %}'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                                </svg>
                            </a>
                        </div>
                        
                    </div>
                </p>
                    <form method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary mb-5 mt-2">Сохранить</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}