{% extends 'base.html' %}

{% block title %} Проекты {% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-row">
            <div class="block">
                {% include 'users_app/account_sidebar.html' %}
            </div>
            <div class="block">
                <h2>Указать сведения Договора</h2>
                <div class="container">
                    <div class='col' style="min-width: 90%">
                        <form method="post" action="{% url 'create_contract_view' %}">{% csrf_token %}
                            {{ create_contract_form.as_p }}
                            <button type="submit" class="btn btn-primary">Добавить контракт</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}