<div class="form_member">
    <div class="mb-3">
        <label class="form-label">Направление</label>
        <input type="text" class="form-control" name="Направление">
    </div>
    <div class="mb-3">
        <label class="form-label">Подразделение</label>
        <input type="text" class="form-control" name="Подразделение">
    </div>
    <div class="mb-3">
        <label class="form-label">Шифр темы</label>
        <input type="text" class="form-control" name="Шифр темы">
    </div>
    <div class="mb-3">
        <label class="form-label">Руководитель ФИО, должность, ученая степень</label>
        <input type="text" class="form-control" name="Руководитель ФИО, должность, ученая степень">
    </div>
</div>