<div class="form_member">
    <div class="mb-3">
        <label class="form-label">Описание задания</label>
        <input type="text" class="form-control" name="Описание задания">
    </div>
    <div class="mb-3">
        <label class="form-label">Подразделение</label>
        <input type="text" class="form-control" name="Подразделение">
    </div>
    <div class="mb-3">
        <label class="form-label">Кем дано задание ФИО, должность, ученая степень</label>
        <input type="text" class="form-control" name="Кем дано задание ФИО, должность, ученая степень">
    </div>
</div>