<div class="form_member">
    <div class="mb-3">
        <label class="form-label">Номер и дата контракта</label>
        <input type="text" class="form-control" name="Номер и дата контракта">
    </div>
    <div class="mb-3">
        <label class="form-label">Предмет контракта/договора</label>
        <input type="text" class="form-control" name="Предмет контракта/договора">
    </div>
    <div class="mb-3">
        <label class="form-label">Заказчик</label>
        <input type="text" class="form-control" name="Заказчик">
    </div>
    <div class="mb-3">
        <label class="form-label">Тип договора</label>
        <input type="text" class="form-control" name="Тип договора">
    </div>
    <div class="mb-3">
        <label class="form-label">Подразделение</label>
        <input type="text" class="form-control" name="Подразделение">
    </div>
</div>